* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "mont";
  color: white;
}

.container {
  display: flex;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.titre {
  margin-top: 60px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 205px;
}

h1 {
  font-size: 12em;
}

h2 {
  margin-bottom: 20px;
}

h3 {
  font-size: 2em;
}

p {
  margin: 5px;
}

.text {
  text-align: center;
}

body {
  width: 100%;
  height: 100vh;
  background: linear-gradient(180deg, rgb(36, 44, 70) 0%, rgb(82, 0, 99) 100%);
}

@font-face {
  font-family: "mont";
  src: url("fonts/Mont-HeavyDEMO.otf") format("opentype");
}
@font-face {
  font-family: "mont-light";
  src: url("fonts/Mont-ExtraLightDEMO.otf") format("opentype");
}
/* Our mixin positions a copy of our text
directly on our existing text, while
also setting content to the appropriate
text set in the data-text attribute. */
.glitch {
  position: relative;
  color: rgb(255, 255, 255);
  font-size: 12em;
  letter-spacing: 0.05em;
  /* Animation provies a slight random skew. Check bottom of doc
  for more information on how to random skew. */
  animation: glitch-skew 1s infinite linear alternate-reverse;
}
.glitch::before {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  left: 2px;
  text-shadow: -2px 0 #ff00c1;
  /* Creates an initial clip for our glitch. This works in
  a typical top,right,bottom,left fashion and creates a mask
  to only show a certain part of the glitch at a time. */
  clip: rect(44px, 450px, 56px, 0);
  /* Runs our glitch-anim defined below to run in a 5s loop, infinitely,
  with an alternating animation to keep things fresh. */
  animation: glitch-anim 5s infinite linear alternate-reverse;
}
.glitch::after {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  left: -2px;
  text-shadow: -2px 0 #00fff9, 2px 2px #ff00c1;
  animation: glitch-anim2 1s infinite linear alternate-reverse;
}

/* Creates an animation with 20 steaps. For each step, it calculates 
a percentage for the specific step. It then generates a random clip
box to be used for the random glitch effect. Also adds a very subtle
skew to change the 'thickness' of the glitch.*/
@keyframes glitch-anim {
  0% {
    clip: rect(70px, 9999px, 72px, 0);
    transform: skew(0.07deg);
  }
  5% {
    clip: rect(22px, 9999px, 69px, 0);
    transform: skew(0.76deg);
  }
  10% {
    clip: rect(94px, 9999px, 44px, 0);
    transform: skew(0.04deg);
  }
  15% {
    clip: rect(4px, 9999px, 93px, 0);
    transform: skew(0.08deg);
  }
  20% {
    clip: rect(89px, 9999px, 39px, 0);
    transform: skew(0.78deg);
  }
  25% {
    clip: rect(71px, 9999px, 67px, 0);
    transform: skew(0.24deg);
  }
  30% {
    clip: rect(93px, 9999px, 45px, 0);
    transform: skew(0.44deg);
  }
  35% {
    clip: rect(68px, 9999px, 8px, 0);
    transform: skew(0.91deg);
  }
  40% {
    clip: rect(1px, 9999px, 7px, 0);
    transform: skew(0.47deg);
  }
  45% {
    clip: rect(15px, 9999px, 55px, 0);
    transform: skew(0.69deg);
  }
  50% {
    clip: rect(34px, 9999px, 11px, 0);
    transform: skew(0.82deg);
  }
  55% {
    clip: rect(19px, 9999px, 13px, 0);
    transform: skew(0.3deg);
  }
  60% {
    clip: rect(71px, 9999px, 100px, 0);
    transform: skew(0.67deg);
  }
  65% {
    clip: rect(100px, 9999px, 82px, 0);
    transform: skew(0.05deg);
  }
  70% {
    clip: rect(28px, 9999px, 46px, 0);
    transform: skew(0.05deg);
  }
  75% {
    clip: rect(75px, 9999px, 65px, 0);
    transform: skew(0.48deg);
  }
  80% {
    clip: rect(55px, 9999px, 84px, 0);
    transform: skew(0.67deg);
  }
  85% {
    clip: rect(5px, 9999px, 18px, 0);
    transform: skew(0.85deg);
  }
  90% {
    clip: rect(11px, 9999px, 66px, 0);
    transform: skew(0.4deg);
  }
  95% {
    clip: rect(74px, 9999px, 56px, 0);
    transform: skew(0.73deg);
  }
  100% {
    clip: rect(91px, 9999px, 19px, 0);
    transform: skew(0.55deg);
  }
}
@keyframes glitch-anim2 {
  0% {
    clip: rect(95px, 9999px, 68px, 0);
    transform: skew(0.4deg);
  }
  5% {
    clip: rect(72px, 9999px, 2px, 0);
    transform: skew(0.44deg);
  }
  10% {
    clip: rect(9px, 9999px, 59px, 0);
    transform: skew(0.98deg);
  }
  15% {
    clip: rect(20px, 9999px, 69px, 0);
    transform: skew(0.03deg);
  }
  20% {
    clip: rect(13px, 9999px, 45px, 0);
    transform: skew(0.03deg);
  }
  25% {
    clip: rect(55px, 9999px, 31px, 0);
    transform: skew(0.44deg);
  }
  30% {
    clip: rect(97px, 9999px, 68px, 0);
    transform: skew(0.94deg);
  }
  35% {
    clip: rect(68px, 9999px, 7px, 0);
    transform: skew(0.52deg);
  }
  40% {
    clip: rect(4px, 9999px, 42px, 0);
    transform: skew(0.63deg);
  }
  45% {
    clip: rect(58px, 9999px, 34px, 0);
    transform: skew(0.65deg);
  }
  50% {
    clip: rect(36px, 9999px, 92px, 0);
    transform: skew(0.23deg);
  }
  55% {
    clip: rect(12px, 9999px, 69px, 0);
    transform: skew(0.85deg);
  }
  60% {
    clip: rect(68px, 9999px, 46px, 0);
    transform: skew(0.26deg);
  }
  65% {
    clip: rect(91px, 9999px, 21px, 0);
    transform: skew(0.72deg);
  }
  70% {
    clip: rect(40px, 9999px, 46px, 0);
    transform: skew(0.33deg);
  }
  75% {
    clip: rect(77px, 9999px, 35px, 0);
    transform: skew(0.86deg);
  }
  80% {
    clip: rect(9px, 9999px, 32px, 0);
    transform: skew(0.18deg);
  }
  85% {
    clip: rect(22px, 9999px, 24px, 0);
    transform: skew(0.32deg);
  }
  90% {
    clip: rect(43px, 9999px, 64px, 0);
    transform: skew(0.12deg);
  }
  95% {
    clip: rect(31px, 9999px, 54px, 0);
    transform: skew(0.64deg);
  }
  100% {
    clip: rect(52px, 9999px, 37px, 0);
    transform: skew(0.51deg);
  }
}
@keyframes glitch-skew {
  0% {
    transform: skew(3deg);
  }
  10% {
    transform: skew(-1deg);
  }
  20% {
    transform: skew(3deg);
  }
  30% {
    transform: skew(1deg);
  }
  40% {
    transform: skew(-2deg);
  }
  50% {
    transform: skew(-2deg);
  }
  60% {
    transform: skew(5deg);
  }
  70% {
    transform: skew(-3deg);
  }
  80% {
    transform: skew(-1deg);
  }
  90% {
    transform: skew(4deg);
  }
  100% {
    transform: skew(-1deg);
  }
}
@media only screen and (max-width: 515px) {
  h3 {
    font-size: 1.5em;
  }
  h1 {
    font-size: 8em;
  }
  .glitch {
    font-size: 8em;
  }
}
@media only screen and (max-width: 400px) {
  h3 {
    font-size: 1em;
  }
}

/*# sourceMappingURL=style.css.map */
